* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

#questions,
#final-score,
#high-scores,
#correct-wrong {
display: none;
}
  

:root {
    --primary: #391287;
    --secondary: #5b256d;
  }
  
h2 {
    padding-block: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(white);
  color: rgb(0, 0, 0);
  }

header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    Margin: 20px 20px;
    padding: 5px;
    align-content: center;
  }

.style-indiv {
  font-size: .50cm;
  font-weight: 100;
  background-color: transparent; 
  }


div .p-style {
    font-size: .60cm;
    padding: 0px 50px ;
    text-align: center;
  }
  
div .p-style-1 {
    font-size: .50cm;
    font: 2px;
    padding: 10px 10px 10px 10px;
   
  }

section .wrapper{
    display: grid;
    grid-template-rows: 1fr, 2fr, 1fr;
    grid-auto-rows: (10px, auto);
    grid-gap: .05em; 
    justify-items: left; 
  }
  
div .style-2{
    display: grid; 
    grid-template-rows: 1fr, 2fr;
    grid-auto-rows: (10px, auto);
    flex: wrap;
    justify-content: left;
    align-content:space-between;
    padding: 15px 15px 15px 15px;
  }
  
div .style-3{
      display: grid; 
      grid-template-rows: 1fr, 2fr;
      grid-auto-rows: (10px, auto);
      flex: wrap;
      justify-content: left;
      align-content:space-between;
  }
  
section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    Margin: 20px auto;
    padding: 10px;
  }
  
div .style-4 {
    display: inline;
    flex-wrap: wrap;
    justify-content:space-around;
    max-width: 75%;
    padding-left: 75px;
  }
  
.style-m {
    background-color: var(--primary);
    color: white;
    border-radius: 10px;
    width: 225px;
    border: 1px solid black;
    font-size: .50cm;
    padding: 8px;
    margin: 4px;
    outline: none;
  }
  
.style-m:active {
    background-color: var(--secondary);
    transform: translateY(1px);
  }
  
.list-inner {
    justify-items: start;
    }
    
div .list-inner {
  justify-content: start;
  }


  /* Questions */

.questions-ul {
    list-style-type: none;
    display: contents;
  }

.questions-li {
  width: 220px;
  }


.list-inner {
    display: grid;
    grid-template-rows: 1fr, 2fr, 1fr;
    grid-auto-rows: (10px, auto);
    grid-gap: .05em; 
    justify-items: center; 
  }

   /* End of Questions */

  /* Answer Time!! */
.answer {
    color: white;
    width: 225px;
    border: 1px solid black;
    font-size: .50cm;
    padding: 8px;
    outline: none;
    text-align: start;
    border: 1px solid;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--primary)
  }
  
.answer:active {
    background-color: var(--secondary);
    transform: translateY(1px);
  }

  /* Answer End */

  /* High Score Elements */

.style-indiv {
    display: flex;
    justify-content: center;
   
   }

.high-score {
    font-size: .50cm;
    border: none;
    background-color: transparent;
    padding: 20px; 
  }
  
.score-list {
    Padding-left: 35px;
  }
  
  /* End of High Score */

  /* Submit & Footer */

.submit-b {
    height: 25px;
  }

footer {
    position: fixed;
    top: 85%;
    left: 37%;
    text-align: center;
    bottom: 2px;
}
